<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/mrtomgao/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="mrtomgao" />
            <add key="ClearTextPassword" value="f7a5f0d9af5d191abcd1bf1b913041e3a5e44c32" />
        </github>
    </packageSourceCredentials>
</configuration>