<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/mrtomgao/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="mrtomgao" />
            <add key="ClearTextPassword" value="00e39d41f0ce65d73940c5f11ab41a6986161024" />
        </github>
    </packageSourceCredentials>
</configuration>